body {
    background-color: lavender ;
}
p { color: white;
}
a{ color: white;
}
li{color:white;
}
body{ font-size: larger;
}
body{ font-family: 'Times New Roman', Times, serif;
}
li{ text-align: center;
}
p{ text-align: center
    ;}
a{ text-align: center;
}
li{ line-height: 2.0;
}
body {
    font-family:'Times New Roman', Times, serif;
  }
  
  .overlay {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: ivory;
    background-color: ivory;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(238, 145, 23);
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }