body {
    background-color: purple;
}
p { color: azure;
}
a{ color: azure;
}
li{color:azure
}
body{ font-size: larger;
}
body{ font-family: 'Times New Roman', Times, serif;
}
li{ text-align: center;
}
p{ text-align: center
    ;}
a{ text-align: center;
}
li{ line-height: 2.0;
}

