h1{
color: red;
text-align: center;
}
li{
color:maroon;
text-align: center;
}
h2{
color:blueviolet;
text-align: center;
}
h3{
color: chocolate;
text-align: center;
}
h4{
color: coral;
text-align: center;
}
body {
    background-color:lightgray;
}
ol{
color: red;
text-align: center;
}
footer{
color: green;
text-align: center;
}
main{
color: olive;
text-align: center;
}
p{
font-family: 'Times New Roman', Times, serif;
font-size: large;
font-weight: 350;
}
h1{ font-family: 'Times New Roman', Times, serif; font-size: large;}
h2{font-family: 'Times New Roman', Times, serif;font-size: large;}
li{font-family: 'Times New Roman', Times, serif;font-size: large;}
ol{font-family: 'Times New Roman', Times, serif;font-size: large;}
h2 li{ font-family: 'Times New Roman', Times, serif;font-size: larger;}
a{ color: darkred;}
a{ font-family: 'Times New Roman', Times, serif;font-size: larger;}
p{color:cadetblue;
text-align: center;
}
p.dotted{ border-style: dotted;
}
h5{ color: blueviolet; font-family:'Times New Roman', Times, serif center; font-size: large;text-align: center;}
h6{color:darkgreen; font-family: 'Times New Roman', Times, serif;font-size: large;text-align: center;}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.grid-item {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 40px;
}

.grid-item > * {
    width: calc(50% - 40px);
}
@media (max-width:767px) {
    .grid-item >* {
        width:100%;
    }
    .grid-item >*:nth-child(3) {
        order: 4;
    }
}
@media (max-width: 767px) {
    .grid-alt > * {
      width: 100%;
    }
    .grid-alt {
      display: block;
    }
  }
  @media only screen and (max-width: 767px) {
    h1, h2, h3,h4,h5, h6 {
    font-size: 30px;
    }
    }
    